<h1> Notas</h1>
<p> Adicione as notas dos seus alunos.</p>

<div ng-init="buscar()">
    <select ng-model="alunos">
        <option value={{aluno.id}} ng-repeat="aluno in alunoList">{{aluno.nomeAluno}}</option>
    </select>
</div>

<br>
<div ng-init="ok()">
    <select ng-model="disciplinas">
        <option value={{materias.id}} ng-repeat="materias in disciplinaList">{{materias.disciplinas}}</option>
    </select>
</div>
<br>
<pre>
    <script>
        function somenteNumeros(num) {
            var er = /[^0-9.]/;
            er.lastIndex = 0;
            var campo = num;
            if (er.test(campo.value)) {
              campo.value = "";
            }
        }
     </script>
     

    <input ng-model="primeiraNota" placeholder="Primeira nota" type="text" min="0" max="10" footer class="text-center" size="15"  onkeyup="somenteNumeros(this);"></input>

    <input ng-model="segundaNota" placeholder="Segunda nota" type="tex" footer class="text-center" size="15" onkeyup="somenteNumeros(this);"></input>

    <input ng-model="terceiraNota" placeholder="Terceira nota" type="text" footer class="text-center" size="15" onkeyup="somenteNumeros(this);"></input>
    
    <button ng-click="add(alunos,disciplinas,primeiraNota,segundaNota,terceiraNota)" id="botao" footer class="text-center">Salvar</button>
     
    </div>
    </footer>

</body>